.form-section {
    width: 90%;
    margin: auto;
    min-height: 80vh;
    @include flex(center, center, row);

    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2rem 0;
        padding: 3rem 10rem;
        border-radius: 2rem;
        box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.2),
            0 10px 40px rgba($color: #000000, $alpha: 0.2);

        label {
            margin: 2rem;
        }

        input {
            padding: 1rem;
        }

        textarea {
            font-size: 2rem;
        }

        button {
            width: 100%;
            margin-top: 2rem;
            padding: 2rem;
            background: $background-color;
            color: white;
            cursor: pointer;
            border: none;
        }
    }
}
